/*

<!--Created by Petrakov-->
<!--Designed by VladShe -->
<!-- http://vladshe.ru/ -->
*/

input::-webkit-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    text-indent: 700px;
    -webkit-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease;
}

input:focus {
    outline: 0;
}

* {
    margin: 0;
    border: 0;
    line-height: 1.2;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

html {
    font-size: 14px;
    font-weight: 300;
    overflow-x: hidden;
    font-family: 'PF BeauSans Pro';
    color: black;
}

.wrap {
    overflow: hidden;
}

section {
    position: relative;
    /* overflow: hidden; */
}

section>* {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}

section>#product {
    margin: 50px 0;
    text-align: center;
}

.wrap9 {
    /* overflow: hidden; */
}

section>.wrap9 {
    max-width: 1025px;
}

section>.wrap7 {
    max-width: 750px;
}

body {
    background: white;
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.desktop-hide {
    display: none;
}

body.open {
    overflow: hidden;
}

.promo-products {
    max-width: 1040px;
}

h1 {
    text-transform: uppercase;
}

.back-pink {
    background: RGBA(254, 212, 207, 1.00);
}

.black-bone {
    background: RGBA(246, 237, 222, 1.00);
}

.yellow {
    color: RGBA(255, 171, 71, 1.00);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex>* {
    display: inline-block;
    align-self: center;
}

.pattern {
    background: url(images/pattern.png) repeat RGBA(254, 212, 207, 1.00);
    background-size: 90%;
    background-position: top left;
}

.anim:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.anim:not(:hover) {
    transition: 0.3s;
}

#nav .logo {
    height: 42px;
}

#nav {
    padding: 20px 0;
    padding-top: 18px;
    font-family: "Gotham Pro";
}

#nav li,
#footer li {
    font-size: 0.85rem;
    list-style: none;
    display: inline-block;
    transition: 0.3s;
}

#nav li:hover,
#footer li:hover {
    transform: translateX(0px) translateY(-3px);
    transform-origin-x: left;
}

#nav .menu {
    margin-top: 5px;
}

#nav .menu a,
#footer a {
    text-transform: uppercase;
    margin: 0 15px;
    font-weight: 200;
    font-style: normal;
}

.socials {
    text-align: right;
    margin-top: 5px;
}

.socials img {
    height: 20px;
    width: 20px;
    object-fit: contain;
    margin-left: 30px;
}

.full {
    height: auto;
    min-height: 400px;
}

.title {
    text-align: center;
    padding: 60px 0;
}

.title h1 {
    font-weight: 200;
    font-size: 2.5rem;
}

.title b {
    font-weight: 500;
}

.props {
    text-align: center;
    padding: 35px 0;
    position: absolute;
    width: 100vw;
    display: block;
    margin: auto;
    bottom: 0;
    max-width: none;
}

.props div {
    display: inline-block;
    width: 25%;
    position: relative;
    height: 50px;
    max-width: 270px;
}

.props img {
    width: 20%;
    height: 35px;
    max-width: 35px;
    margin-right: 15px;
    object-fit: contain;
    object-position: top;
    display: inline-block;
    vertical-align: top;
}

.props p {
    width: 70%;
    margin-top: 8px;
    max-width: 220px;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}

#props .items {
    text-align: center;
}

#props .item {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    max-width: 350px;
    vertical-align: top;
    margin-bottom: 50px;
    text-align: center;
}

#props .item:hover img {
    transform: scale(1.2);
}

#props .item div:nth-child(1) {
    border: 2px solid white;
    border-radius: 50px;
    width: 85px;
    margin: auto;
    margin-bottom: 20px;
    display: block;
    height: 85px;
}

#props .item img {
    background: #eee;
    height: 75px;
    border-radius: 100px;
    margin: 5px;
    width: 75px;
    transition: 0.3s;
}

#props .item div:nth-child(2) {
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px;
    padding-bottom: 7px;
}

#props .item div h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}

#props .item p {
    margin-top: 10px;
    height: 3em;
}

#header {
    background: url(images/header.jpg);
    height: calc(100vh - 70px);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header::after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#header::before {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    height: calc(100% - 130px);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#header .slide {
    width: 95%;
    max-width: 1280px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#header * {
    z-index: 10;
    /* position: relative; */
}

#header .about {
    text-align: center;
    padding-top: 40px;
    z-index: 13;
    position: relative;
}

#header .about>* {
    display: inline-block;
    vertical-align: top;
}

#header .about h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

#header .about p {
    font-size: 0.9rem;
    text-align: left;
    font-weight: 400;
}

#header .about>img {
    height: 45px;
    width: 45px;
    margin: 5px;
}

#header .slide {
    position: absolute;
    /* height: 100%; */
    top: 0;
    height: calc(100% - 130px);
    z-index: 10;
    justify-content: center
}

#header .slide img {
    height: 5px;
    margin: 30px auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#header .slide h1 {
    font-size: 3rem;
    font-weight: 300;
}

#header .slide p {
    text-transform: uppercase;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
}

#header .arrows {
    width: 95vw;
    max-width: 1280px;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 11;
    height: calc(100% - 130px);
    /* max-width: 1040px; */
}

#header .arrows img {
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 30;
    display: inline-block;
    object-fit: contain;
    /*position: absolute;*/
}

#header .arrows img:nth-child(2) {
    transform: rotate(180deg);
}

#footer {
    font-family: "Gotham Pro";
    padding: 20px;
    padding-top: 50px;
}

#footer .socials img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin: 0px 10px;
}

#footer-logo>* {
    display: block;
    margin: auto;
}

#footer-logo>img {
    height: 60px;
    width: 40%;
    object-fit: contain;
}

#footer-logo>p {
    display: block;
    margin: auto;
    padding: 15px 0;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 0.9rem;
    width: 30%;
    font-family: "Gotham Pro";
    text-align: center;
}

#who p {
    display: inline-block;
    width: calc(49.5% - 50px);
    max-width: 490px;
    margin: 0 25px;
    font-size: 1.1rem;
    color: RGBA(66, 66, 66, 1.00);
    vertical-align: middle;
}

#who p span {
    font-size: 1.4rem;
    font-weight: 400;
}

#who img {
    width: calc(50% - 80px);
    margin: 0 40px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

#who>div>img {
    height: 5px;
    margin: 60px auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#who>div>img:nth-child(2) {
    margin: 0px auto;
}

.image-block {
    max-height: 550px;
    height: 550px;
    position: relative;
}

.image-block::after {
    content: "";
    position: absolute;
    height: 30vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.69) 0%, rgba(255, 255, 255, 0.69) 14%, rgba(255, 255, 255, 0.0) 100%);
    max-height: 250px;
    top: 0;
    z-index: 0;
}

.image-block>div {
    z-index: 10;
    position: relative;
    text-align: center;
}

.image-block>div>* {
    display: block;
}

.image-block .title {
    padding-top: 125px;
    padding-bottom: 10px;
}

.image-block p {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.image-block img {
    height: 5px;
    margin: 60px auto;
    width: 100px;
    object-fit: contain;
    object-position: center;
}

.image-block a {
    padding: 20px 30px;
    padding-bottom: 17px;
    background: RGBA(182, 221, 216, 1.00);
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 3px;
    object-fit: contain;
    /* z-index: 10; */
    position: relative;
    object-position: center;
    transition: 0.3s;
}

.image-block a::after {
    content: "";
    border-radius: 3px;
    position: absolute;
    background: RGBA(184, 191, 190, 1.00);
    height: 10px;
    width: 100%;
    left: 0;
    z-index: -10;
    bottom: -5px;
}

#get {
    background: url(images/1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#get2 {
    background: url(images/3.png);
    /* min-height: 1000px; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    background: url(home.jpg) center 0 repeat fixed;
    min-height: 1000px;
    height: 1000px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
}

#get2>div {
    /* height: 458px; */
    /* position: absolute; */
    text-align: center;
    /* top: 300px; */
    /* width: 100%; */
}

#reasons {
    background: url(images/2.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    max-height: 550px;
    height: 550px;
    position: relative;
}

#reasons .title {
    padding-bottom: 40px;
}

#reasons .title>p {
    font-size: 1.1rem;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

#reasons .arrows {
    width: 90vw;
    margin: auto;
    height: 180px;
    max-width: 1040px;
}

#reasons .arrows img {
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 15;
    object-fit: contain;
    /*position: absolute;*/
}

#reasons .arrows img:nth-child(2) {
    transform: rotate(180deg);
}

#reasons>div>img {
    height: 5px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 25px;
    object-fit: contain;
    object-position: center;
}

#steps {
    margin-left: 0px;
    position: relative;
    height: 180px;
    margin-top: -180px;
    overflow: hidden;
}

.dots {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    justify-content: center !important
}

.dot {
    display: inline-block;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
    vertical-align: bottom;
}

.dot p {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 200;
    transition: 0.3s;
}

.dot::after {
    content: "";
    height: 10px;
    margin-top: 5px;
    width: 10px;
    transition: 0.3s;
    left: calc(50% - 5px);
    background: RGBA(252, 248, 248, 1.00);
    border-radius: 3px;
    position: absolute;
}

.dot.active p,
.dot:hover p {
    transform: scale(1.25);
    margin-top: 0px;
    color: RGBA(34, 34, 34, 1.00);
}

.dot.active::after,
.dot:hover::after {
    background: RGBA(34, 34, 34, 1.00);
}

.step {
    display: inline-block;
    z-index: 10;
    width: 100%;
    height: 180px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.step div {
    position: relative;
    height: inherit;
}

.step .heading {
    font-size: 2rem;
    width: 600px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    z-index: 10;
    display: inline-block;
    position: relative;
}

.step .back {
    position: absolute;
    left: 0;
    width: 100%;
    color: RGBA(81, 76, 73, 0.90);
    text-align: center;
    font-family: 'PF BeauSans Pro XThin';
    top: 0;
    font-size: 13rem;
    font-weight: 100;
}

.step:nth-child(1) {
    left: 0;
}

.step:nth-child(2) {
    left: 100vw;
}

.step:nth-child(3) {
    left: 200vw;
}

.step:nth-child(4) {
    left: 300vw;
}

.step:nth-child(5) {
    left: 400vw;
}

.step:nth-child(6) {
    left: 500vw;
}

.step:nth-child(7) {
    left: 600vw;
}

.step:nth-child(8) {
    left: 700vw;
}

#reviews .title {
    padding-bottom: 40px;
}

#reviews>img {
    height: 5px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    object-fit: contain;
    object-position: center;
}

.review {
    display: inline-block;
    width: calc(33% - 30px);
    max-width: 370px;
    text-align: center;
    margin: 0 15px;
}

.review>img {
    height: 85px;
    width: 85px;
    border-radius: 20px;
    margin-bottom: 15px;
    background: #eee;
}

.review>h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

.review>p {
    margin: 20px 15px;
    margin-top: 15px;
}

.review>a {
    color: RGBA(126, 101, 98, 1.00);
    transition: 0.3s;
}

.review>a:hover {
    color: black;
}

#reviews .button {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
}

#reviews .button a {
    padding: 14px 30px;
    padding-bottom: 12px;
    background: RGBA(182, 221, 216, 1.00);
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 3px;
    object-fit: contain;
    /* z-index: 10; */
    position: relative;
    object-position: center;
    transition: 0.3s;
}

#reviews .button a::after {
    content: "";
    border-radius: 3px;
    position: absolute;
    background: RGBA(184, 191, 190, 1.00);
    height: 10px;
    width: 100%;
    left: 0;
    z-index: -10;
    bottom: -3px;
}

#answers .title {
    padding-top: 50px;
}

#answers>* {
    position: relative;
    z-index: 14;
}

#answers {
    position: relative;
}

#answers::after {
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100vw;
    z-index: 0;
    left: calc((100vw - 100%)/-2);
    position: absolute;
    content: "";
    top: 0;
}

#answers .button {
    text-align: center;
    margin-top: 0;
    padding-bottom: 30px;
    position: relative;
    z-index: 10;
}

#answers .button a {
    padding: 14px 20px;
    padding-bottom: 12px;
    background: RGBA(162, 227, 204, 1.00);
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 3px;
    min-width: 250px;
    object-fit: contain;
    /* z-index: 10; */
    position: relative;
    object-position: center;
    transition: 0.3s;
}

#answers.active .button a {
    opacity: 0;
    visibility: collapse;
}

#answers.active .button.hidden a {
    opacity: 1;
    visibility: visible;
}

#answers .button.hidden {
    padding: 0;
}

#answers.active .button.hidden {
    padding-bottom: 30px;
}

#answers .button a::after {
    content: "";
    border-radius: 3px;
    position: absolute;
    background: RGBA(184, 191, 190, 1.00);
    height: 10px;
    width: 100%;
    left: 0;
    z-index: -10;
    bottom: -3px;
}

.answer {
    width: 25%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 30px;
    margin-bottom: 0;
    align-self: flex-start;
    position: relative;
}

.answer:nth-child(3n+1)::after,
.answer:nth-child(2n)::after {
    content: "";
    height: 5px;
    width: calc(100% - 140px);
    background: url(images/wave.png) no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: 100;
    left: 100%;
    top: 85px;
}

.answer .small {
    font-size: 0.8rem;
    font-weight: 600;
    color: RGBA(113, 96, 94, 1.00);
}

.answer .big {
    margin: 20px 0;
    margin-top: 10px;
}

.answer .big:nth-child(4) {
    font-size: 0.9rem;
}

#answers .hidden {
    max-height: 0px;
    overflow: hidden;
    /* margin-top: -50px; */
    transform-origin: top;
    transition: 0.7s cubic-bezier(0.25, 0.65, 0.72, 0.96);
}

#answers.active .hidden {
    max-height: 400px;
    ;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    background: RGBA(182, 221, 217, 0.98);
    top: 0;
    z-index: 9999;
    justify-content: center;
}

.modal form {
    text-align: center;
    align-self: center;
    width: auto;
    position: relative;
}

.modal form>* {
    display: block;
    margin: auto;
}

.modal form>h1 {
    font-size: 2.6rem;
    font-weight: 300;
}

.modal form>h1 b {
    font-weight: 600;
}

.modal form>p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    text-transform: uppercase;
}

.modal form>img {
    height: 5px;
    width: 50%;
    margin: 30px auto;
    object-fit: contain;
    -o-object-position: center;
}

.modal form>div>img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    position: absolute;
    right: -50px;
    top: -40px;
}

::-webkit-input-placeholder {
    color: black;
}

::-moz-placeholder {
    color: black;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: black;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: black;
}

.modal input[type=text],
.modal input[type=e-mail] {
    width: 310px;
    text-align: center;
    border-bottom: RGBA(211, 211, 211, 1.00) 3px solid;
    margin: 25px auto;
    text-transform: uppercase;
    font-family: 'PF BeauSans Pro';
    font-size: 1rem;
    padding: 10px 20px;
    padding-top: 15px;
    position: relative;
    z-index: 10;
    border-radius: 3px;
}

.modal input[type=text] a::after,
.modal input[type=e-mail] a::after {
    content: "";
    border-radius: 3px;
    position: absolute;
    background: RGBA(184, 191, 190, 1.00);
    height: 10px;
    width: 100%;
    left: 0;
    z-index: -10;
    bottom: -5px;
}

.modal input[type=submit] {
    width: 420px;
    background: RGBA(255, 212, 207, 1.00);
    text-align: center;
    border-bottom: RGBA(227, 160, 153, 1.00) 3px solid;
    margin: 25px auto;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: 'PF BeauSans Pro';
    font-size: 1.1rem;
    padding: 10px 20px;
    padding-top: 15px;
    border-radius: 3px;
}

@media only screen and (max-device-width:600px) {
    .title {
        padding: 10vw 0;
    }
    .title h1 {
        font-size: 6.3vw;
    }
    .title b {
        font-weight: 600;
    }
    .image-block .title {
        padding-top: 15vw;
        padding-bottom: 2vw;
    }
    .image-block p {
        font-size: 3.5vw;
    }
    .image-block img {
        margin: 10vw auto;
    }
    .image-block a {
        padding: 5vw 7vw;
        padding-bottom: 4.3vw;
        font-size: 4vw;
    }
    .image-block {
        max-height: 90vw;
        height: 90vw;
        position: relative;
    }
    .mobile-hide {
        display: none !important;
    }
    #props .item {
        width: 45%;
        margin-bottom: 10vw;
    }
    #props .item:hover img {
        transform: scale(1.2);
    }
    #props .item div:nth-child(1) {
        border: 2px solid white;
        border-radius: 50px;
        width: calc(15vw + 10px);
        margin: auto;
        margin-bottom: 20px;
        display: block;
        height: calc(15vw + 10px);
    }
    #props .item img {
        height: 15vw;
        margin: 5px;
        width: 15vw;
    }
    #props .item div:nth-child(2) {
        border: 2px solid white;
        border-radius: 2px;
        padding: 10px;
        padding-bottom: 7px;
    }
    #props .item div h2 {
        text-transform: uppercase;
        font-size: 4vw;
        font-weight: 400;
    }
    #props .item p {
        font-size: 3.5vw;
        height: 3em;
    }
    .answer {
        width: 70%;
        max-width: 300px;
        display: block !important;
        margin: 0vw auto;
        margin-bottom: 0;
    }
    .answer:not(:nth-child(1)) {
        display: none !important;
    }
    .answer::after {
        content: "";
        height: 5px;
        width: calc(100% - 140px);
        left: 62vw !important;
        top: 40px !important;
    }
    .answer::before {
        content: "";
        height: 5px;
        width: calc(100% - 140px);
        background: url(images/wave.png) no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        z-index: 100;
        right: 62vw;
        top: 40px;
    }
    #nav .logo {
        width: 50vw;
        margin: auto;
        height: auto;
    }
    #nav {
        padding: 4vw 0;
        padding-top: 3.5vw;
    }
    .socials {
        text-align: center;
        margin: auto;
    }
    .socials li {
        margin: 0 !important;
    }
    #footer {
        padding: 10vw 0;
        padding-bottom: 5vw
    }
    #footer .socials img {
        height: 6vw;
        width: 6vw
    }
    #footer-logo>img {
        height: auto;
        width: 80%;
    }
    #footer-logo>p {
        margin: auto;
        padding: 5vw 0;
        padding-bottom: 7vw;
        font-size: 3vw;
        width: 100%;
        font-family: "Gotham Pro";
        text-align: center;
    }
    #steps {
        margin-left: 0px;
        position: relative;
        height: 40vw;
        padding-bottom: 30vw;
        margin-top: -50vw;
        overflow: hidden;
    }
    .dots {
        position: absolute;
        bottom: 10vw;
        left: 0;
        width: 100%;
        text-align: center;
        height: 60px;
        justify-content: center !important;
    }
    .dot {
        display: inline-block;
        position: relative;
        margin: 0 3vw;
        cursor: pointer;
        vertical-align: bottom;
    }
    .dot p {
        margin-top: 5px;
        font-size: 5vw;
        font-weight: 200;
        transition: 0.3s;
    }
    .step {
        display: inline-block;
        z-index: 10;
        width: 100%;
        height: 45vw;
        position: absolute;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .step div {
        position: relative;
        height: inherit;
    }
    .step .heading {
        font-size: 5vw;
        width: 84vw;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        align-self: center;
        z-index: 10;
        display: inline-block;
        position: relative;
    }
    .step .back {
        position: absolute;
        left: 0;
        width: 100%;
        color: RGBA(81, 76, 73, 0.90);
        text-align: center;
        font-family: 'PF BeauSans Pro XThin';
        top: 0;
        font-size: 42vw;
        font-weight: 100;
    }
    #reasons {
        height: auto;
    }
    #reasons .title {
        padding-bottom: 10vw;
    }
    #reasons .arrows {
        width: 95vw;
        margin: auto;
        height: 50vw;
        max-width: 1040px;
    }
    #reasons .arrows img {
        height: 10vw;
        width: 10vw;
    }
    #reviews>img {
        margin-bottom: 10vw;
    }
    #who p {
        display: inline-block;
        width: 55vw;
        position: relative;
        max-width: 490px;
        margin: 0 5vw;
        height: auto;
        margin-left: 40vw;
        margin-top: 5vw;
        font-size: 0.9rem;
        line-height: 1.3;
        color: RGBA(66, 66, 66, 1.00);
        vertical-align: middle;
    }
    #who p::after {
        content: "";
        background: url(images/5.png) no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 36vw;
        height: 70vw;
        position: absolute;
        left: -40vw;
        top: 0;
    }
    #who p span {
        font-size: 1.2rem;
        font-weight: 400;
    }
    #who>div>img {
        margin: 10vw auto;
    }
    .props {
        padding: 5vw 0;
    }
    .props div {
        display: inline-block;
        width: 49vw;
        position: relative;
        height: auto;
        max-width: auto;
    }
    .props img {
        width: 5vw;
        height: 10vw;
        /* max-width: 5vw; */
        margin-right: 1vw;
        object-fit: contain;
        object-position: center;
        display: inline-block;
        vertical-align: middle;
    }
    .props p {
        width: 42vw;
        margin-top: 8px;
        max-width: 220px;
        display: inline-block;
        vertical-align: middle;
        font-size: 3vw;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
    }
    #header .arrows img {
        height: 10vw;
        width: 10vw;
    }
    #header .slide img {
        height: 5px;
        margin: 5vw auto;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    #header .slide h1 {
        width: 80vw;
        margin: auto;
        font-size: 9vw;
        font-weight: 300;
    }
    #header .slide p {
        text-transform: uppercase;
        font-size: 1.2rem;
        width: 80vw;
        margin: auto;
        margin-top: 7vw;
        font-weight: 300;
    }
    #header {
        min-height: auto;
        height: 80vh;
    }
    #header .about {
        text-align: center;
        padding-top: 5vw;
        z-index: 13;
        position: relative;
    }
    #review-slider {
        z-index: 10;
        display: block;
    }
    .review {
        display: inline-block;
        width: 100vw;
        max-width: none;
        text-align: center;
        margin: 0 15px;
    }
    .review>img {
        height: 85px;
        width: 85px;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 15px;
        background: #eee;
    }
    .review>h2 {
        font-size: 1.4rem;
        font-weight: 300;
    }
    .review>p {
        margin: 20px 15px;
        margin-top: 15px;
    }
    #get {
        background: url(images/1.png);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #reviews {
        position: relative;
    }
    #reviews .arrows {
        width: 95vw;
        max-width: 1280px;
        margin: auto;
        position: absolute;
        top: 0;
        z-index: 11;
        height: 100%;
        /* max-width: 1040px; */
    }
    #reviews .arrows img {
        height: 8vw;
        width: 8vw;
        position: relative;
        z-index: 30;
        display: inline-block;
        object-fit: contain;
        /*position: absolute;*/
    }
    #reviews .arrows img:nth-child(2) {
        transform: rotate(180deg);
    }
    #get2 {
        background: url(images/3.png);
        /* min-height: 1000px; */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .desktop-hide {
        display: flex;
    }
    #home {
        background: url(home.jpg) center 0 repeat scroll;
        min-height: 1000px;
        height: 1000px;
        margin: 0 auto;
        width: 100%;
        max-width: 1920px;
        position: relative;
    }
    #header {
        background: url(images/header.jpg);
        /*     min-height: 550px; */
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #reasons {
        background: url(images/2.png);
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}